<!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <a href="productDetail">
                            <img class="img-fluid" src="./assets/img/banner_img_01.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Samsung Galaxy Z Flip3</b>  5G 256GB</h1>
                                <h3 class="h2">Siêu phẩm với màn hình gập dạng vỏ sò.</h3>
                                <p>
                                    Biểu tượng thời trang độc đáo nằm gọn trong túi khi gập cho bạn thỏa sức tham gia các hoạt động yêu thích ở bất cứ nơi đâu. 
                                    Siêu phẩm công nghệ khi mở để bạn đắm chìm trải nghiệm với tốc độ mạng 5G và khả năng gập ở nhiều góc độ linh hoạt chưa từng có.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <a href="productDetail">
                            <img class="img-fluid" src="./assets/img/banner_img_02.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>iPhone 13 Pro</b> Bạc 1TB</h1>
                                <h3 class="h2"> Nâng cấp mạnh mẽ về cụm camera</h3>
                                <p>
                                    Cùng trải nghiệm một phiên bản iPhone có bộ nhớ trong lớn nhất từ trước đến nay,
                                    sở hữu dung lượng lưu trữ lên đến 1 TB, tương tự với các phiên bản khác máy vẫn có một màn hình siêu đẹp 
                                    cùng hiệu năng vô cùng mạnh mẽ đó chính là iPhone 13 Pro 1TB.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <a href="productDetail">
                            <img class="img-fluid" src="./assets/img/banner_img_03.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Laptop Acer Nitro 5 Gaming</b>  AN515 57 727J i7</h1>
                                <h3 class="h2">Sức mạnh nổi bật nhờ công nghệ tiên tiến </h3>
                                <p>
                                    Sở hữu vẻ ngoài cá tính, nổi bật và được tích hợp bộ vi xử lý Intel thế hệ 11 tân tiến,
                                    card đồ hoạ rời NVIDIA GeForce RTX, hứa hẹn mang đến các trải nghiệm tuyệt vời cho người dùng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1 text-success"><b>DANH MỤC</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3" onclick="location.href='products'">
                <a href="#"><img src="./assets/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Điện Thoại</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3" onclick="location.href='products'">
                <a href="#"><img src="./assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Laptop</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3" onclick="location.href='products'">
                <a href="#"><img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Phụ kiện</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
           
        </div>
    </section>
    <!-- End Categories -->

    <!-- Start Sản phẩm nổi bật -->
    <section class="bg-light highlight">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1 title">SẢN PHẨM NỔI BẬT</h1>
                    <p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4 highlight-product">
                    <div class="card h-100">
                        <a href="productDetail">
                            <img src="./assets/img/feature_prod_01.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body content">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">22.490.000đ</li>
                            </ul>
                            <a href="productDetail" class="h2 text-decoration-none text-dark">Samsung Galaxy Z Flip 3 5G</a>
                            <p class="card-text">
                                Thiết kế màn hình gập ấn tượng, Màn hình 120Hz siêu mượt mà, Dolby Audio™, 
                                Chuẩn Kháng nước IPX8, Kết nối 5G, Âm thanh AKG, Mỏ khóa vân tay cạnh viền.
                            </p>
                            <p class="text-muted">Reviews (21)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 highlight-product">
                    <div class="card h-100">
                        <a href="productDetail">
                            <img src="./assets/img/feature_prod_02.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body content">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">47.090.000</li>
                            </ul>
                            <a href="productDetail" class="h2 text-decoration-none text-dark">iPhone 13 Pro Max Chính hãng</a>
                            <p class="card-text">
                                Trải nghiệm với màn hình Super Retina XDR OLED 6.7 inch, độ phân giải 1284 x 2778 pixels, 120Hz, HDR10, Dolby Vision; 
                                Note tai thỏ nhỏ gọn và nâng cấp cấp camera.
                            </p>
                            <p class="text-muted">Reviews (29)</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 mb-4 highlight-product">
                    <div class="card h-100">
                        <a href="productDetail">
                            <img src="./assets/img/feature_prod_03.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body content">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">38.990.000đ</li>
                            </ul>
                            <a href="productDetail" class="h2 text-decoration-none text-dark">LG Gram 2021 16ZD90P-G.AX54A5</a>
                            <p class="card-text">
                                Siêu nhẹ chỉ 999g. Màn 14" 16:10 WUXGA (1920 x 1200) IPS. DCI-P3 99%. 
                                Nền tảng Intel® Evo™ với Bộ vi xử lý Intel® Core™ thế hệ 11. Thời lượng pin lên đến 25,5 giờ (72Wh).
                            </p>
                            <p class="text-muted">Reviews (33)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 highlight-product">
                    <div class="card h-100">
                        <a href="productDetail">
                            <img src="./assets/img/feature_prod_04.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body content">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">51.500.000đ</li>
                            </ul>
                            <a href="productDetail" class="h2 text-decoration-none text-dark">MacBook Pro 16 inch 2019 New</a>
                            <p class="card-text">
                                Storage: 512GB On-board SSD. Màn hình: 16-inch Retina with True Tone (2880×1800). 
                                VGA: AMD Radeon Pro 5300M with 4GB GDDR6 memory. Interface: Four Thunderbolt 3 ports.
                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sản phẩm nổi bật -->

    <!-- Start điện thoại giảm giá -->
    <section class="laptop">    
        <div class="container">
            <div class="row align-items-start">
                <p class="title">ĐIỆN THOẠI ĐANG GIẢM GIÁ</p>
                <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/phone_01.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">iPhone 11 Pro Max Chính hãng</p>
                        <div class="detail">
                            <span>RAM 4 GB</span>
                            <span>SSD 64 GB</span>
                        </div>
                        <p class="root-price"><del>10.500.000<ins>đ</ins></del> (5% off)</p>
                        <p class="sale-price">9.990.000<ins>đ</ins></p>
                        <p class="gift">Quà 100.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">11</span>
                        </div>
                    </div>
                </div>
                <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/phone_02.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">Samsung Galaxy Note 20 Ultra</p>
                        <div class="detail">
                            <span>RAM 8 GB</span>
                            <span>SSD 256 GB</span>
                        </div>
                        <p class="root-price"><del>9.000.000<ins>đ</ins></del> (10% off)</p>
                        <p class="sale-price">8.100.000<ins>đ</ins></p>
                        <p class="gift">Quà 100.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">19</span>
                        </div>
                    </div>
                </div>
                <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/phone_03.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">Samsung Galaxy S21 Ultra 5G</p>
                        <div class="detail">
                            <span>RAM 8 GB</span>
                            <span>SSD 128 GB</span>
                        </div>
                        <p class="root-price"><del>20.990.000<ins>đ</ins></del> (28% off)</p>
                        <p class="sale-price">14.990.000<ins>đ</ins></p>
                        <p class="gift">Quà 100.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">28</span>
                        </div>
                    </div>
                </div>
                <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/phone_04.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">Huawei P40 Pro Plus Chính hãng </p>
                        <div class="detail">
                            <span>RAM 8 GB</span>
                            <span>SSD 512 GB</span>
                        </div>
                        <p class="root-price"><del>31.990.000<ins>đ</ins></del> (22% off)</p>
                        <p class="sale-price">24.990.000<ins>đ</ins></p>
                        <p class="gift">Quà 100.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">9</span>
                        </div>
                    </div>
                  </div>
                  <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/phone_05.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">iPhone X 64GB chính hãng Cũ</p>
                        <div class="detail">
                            <span>RAM 4 GB</span>
                            <span>SSD 64 GB</span>
                        </div>
                        <p class="root-price"><del>8.800.000<ins>đ</ins></del> (10% off)</p>
                        <p class="sale-price">7,890,000<ins>đ</ins></p>
                        <p class="gift">Quà 100.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">7</span>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
    </section>
    <!-- end điện thoại giảm giá -->

    <!-- Start laptop giảm giá -->
    <section class="laptop">        
        <div class="container">
            <div class="row align-items-start">
                <p class="title">LAPTOP, TABLET ĐANG GIẢM GIÁ</p>
                <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/laptop_01.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">Asus Vivobook M513UA-L1230T R5 5500U</p>
                        <div class="detail">
                            <span>RAM 8 GB</span>
                            <span>SSD 512 GB</span>
                        </div>
                        <p class="root-price"><del>21.100.000<ins>đ</ins></del> (10% off)</p>
                        <p class="sale-price">18.999.000<ins>đ</ins></p>
                        <p class="gift">Quà 150.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">17</span>
                        </div>
                    </div>
                </div>
                <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/laptop_02.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">ACER Aspire 3 A315-34-P8VA NX.HE3SV.00N</p>
                        <div class="detail">
                            <span>RAM 4 GB</span>
                            <span>SSD 256 GB</span>
                        </div>
                        <p class="root-price"><del>9.500.000<ins>đ</ins></del> (5% off)</p>
                        <p class="sale-price">8.990.000<ins>đ</ins></p>
                        <p class="gift">Quà 150.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">11</span>
                        </div>
                    </div>
                </div>
                <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/laptop_03.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">Apple MacBook Air M1 2020 - 13 Inchs</p>
                        <div class="detail">
                            <span>RAM 16 GB</span>
                            <span>SSD 256 GB</span>
                        </div>
                        <p class="root-price"><del>33.990.000<ins>đ</ins></del> (6% off)</p>
                        <p class="sale-price">31.990.000<ins>đ</ins></p>
                        <p class="gift">Quà 150.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">15</span>
                        </div>
                    </div>
                </div>
                <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/laptop_04.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">HP Pavilion 15 eg0504TU i7 1165G7</p>
                        <div class="detail">
                            <span>RAM 8 GB</span>
                            <span>SSD 512 GB</span>
                        </div>
                        <p class="root-price"><del>22.999.000<ins>đ</ins></del> (5% off)</p>
                        <p class="sale-price">21.490.000<ins>đ</ins></p>
                        <p class="gift">Quà 150.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">19</span>
                        </div>
                    </div>
                  </div>
                  <div class="col" onclick="location.href='productDetail'">
                    <img src="./assets/img/laptop_05.png" alt="" class="laptop-img">
                    <div class="info">
                        <p class="laptop-name">HP Pavilion 15-eg0505TU (46M02PA)</p>
                        <div class="detail">
                            <span>RAM 8 GB</span>
                            <span>SSD 512 GB</span>
                        </div>
                        <p class="root-price"><del>23.330.000<ins>đ</ins></del> (10% off)</p>
                        <p class="sale-price">20.990.000<ins>đ</ins></p>
                        <p class="gift">Quà 150.000<ins>đ</ins></p>
                        <div class="rating">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <span class="vote">7</span>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
    </section>
    <!-- End laptop giảm giá -->

    <!-- Start sp được xem gần đây-->
    <section class="bg-light recently">
        <div class="container py-5">
            <h1 class="h1 title">SẢN PHẨM ĐƯỢC XEM GẦN ĐÂY</h1>
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">

                    <p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4 recently-product">
                    <div class="card h-100">
                        <a href="productDetail">
                            <img src="./assets/img/feature_prod_01.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body content">
                            <a href="productDetail" class="h4 text-decoration-none text-dark">Samsung Galaxy Z Flip 3 5G</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 recently-product">
                    <div class="card h-100">
                        <a href="productDetail">
                            <img src="./assets/img/feature_prod_02.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body content">
                            <a href="productDetail" class="h4 text-decoration-none text-dark">iPhone 13 Pro Max Chính hãng</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 mb-4 recently-product">
                    <div class="card h-100">
                        <a href="productDetail">
                            <img src="./assets/img/feature_prod_03.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body content">
                            <a href="productDetail" class="h4 text-decoration-none text-dark">LG Gram 2021 16ZD90P-G.AX54A5</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 recently-product">
                    <div class="card h-100">
                        <a href="productDetail">
                            <img src="./assets/img/feature_prod_04.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body content">
                            <a href="productDetail" class="h4 text-decoration-none text-dark">MacBook Pro 16 inch 2019 New</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 recently-product">
                    <div class="card h-100">
                        <a href="productDetail">
                            <img src="./assets/img/recently_prod_05.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body content">
                            <a href="productDetail" class="h4 text-decoration-none text-dark">Xiaomi Redmi Note 10</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End sp được xem gần đây-->