/*
Custom Css
*/
/*--------------CSS HIGHLIGHT PRODUCT---------*/

.highlight .title{
    font-weight: bold;
    font-size: 1.7rem;
}
.highlight-product{
    width: 17.7rem;
    height: 33rem;
}
.content{
    font-size: 10px;
}
/*--------------CSS RECENTLY PRODUCT---------*/
.recently .title{
    font-weight: bold;
    font-size: 1.7rem;
}
.recently-product{
    width: 14rem;
    height: 18rem;
}
/*---------------CSS SAN PHAM GIAM GIA---------------*/

.laptop{
    margin: 4rem 7rem 4rem 7rem;
}

.laptop .title{
    margin-left: -13px;
    font-weight: bold;
    font-size: 1.5rem;
}

.laptop .container{
    display: flex;
    justify-content: space-between;
}

.laptop .container .col{
    width: 13rem;
    height: 26rem;
    text-align: center;
    border: 1px solid rgb(197, 197, 197);
    margin-right: 0.55rem;
}

.laptop .container .col:hover{
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 15px 1px rgb(170, 170, 170);/*x-y-độ mờ- độ phóng rộng- màu   */
}

.laptop .container .col .laptop-img{
    width: 12rem;
}

.laptop .container .col .info .laptop-name{
    font-size: 15px;
    font-weight: bold;
    padding-top: 2rem;
    text-overflow: ellipsis;
    opacity: .7;
}

.laptop .container .col .info .detail{
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    font-size: 12px;
}
.laptop .container .col .info {
    text-align: left ;
}
.laptop .container .col .info .detail span{
    padding: 2px;
    margin-right: 2px;
    border: 1px solid black;
    border-radius: 2px;
}

.laptop .container .col .info .root-price{
    font-size: 15px;
    opacity: .8;
}

.laptop .container .col .info .sale-price{
    font-size: 16px;
    font-weight: bold;
    margin-top: -1rem;
}

.laptop .container .col .info .gift{
    font-size: 13px;
    margin-top: -.8rem;
    opacity: .8;
}

.laptop .container .col .info .rating{
    display: flex;
    align-items: center;
    margin-top: -0.8rem;
    margin-bottom: 1.5rem;
}
.laptop .container .col .info .rating .fa-star{
    font-size: 12px;
    color: orange;
}

.laptop .container .col .info .rating .vote{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 14px;
}

/*--------CSS SHOP PAGE-----------*/
.categories .h2{
    font-size: 25px;
}

.categories .h3{
    font-size: 20px;
}

.list-inline-item .h3{
    font-size: 18px;
    padding-left: 10px;
}

.card-body .detail span{
    font-size: 13px;
    padding: 2px;
    border: 1px solid black;
}

/*----------CSS SHOP-SINGLE----------*/
.comment{
    margin: 5rem 7rem 0rem 7rem;
    padding-bottom: 5rem;
    display: flex;
}

.comment .show-rating{
    width: 60%;
}

.comment .show-rating .overall-rating-point{
    display: flex;
}

.comment .show-rating .rating-result{
    text-align: center;
    padding: 1rem 5rem;
    margin-right: 2rem;
    border: 1px solid black;
    height: fit-content;
    background-color: #EAFCFE;
}

.comment .show-rating .rating-result .overall{
    font-size: 2rem;
}

.comment .show-rating .rating-result .rating-point{
    font-size: 4rem;
    font-weight: bold;
    margin-top: -2rem;
    color: rgb(37, 139, 37);
}

.comment .show-rating .rating-result .rating-number{
    margin-top: -2rem;
}
.comment .show-rating .rating-star{
    width: 11rem;
}

.comment .show-rating .rating-star p{
    font-size: 16px;
    font-weight: bold;
}

.comment .show-rating .rating-star .fa-star{
    font-size: 16px;
}

.comment .show-rating .rating-star .checked{
    color: orange;
}

.comment .show-rating .cmt-content{
    margin-top: 5rem;
}

.comment .show-rating .cmt-content .load-more{
    font-weight: bold;
    font-size: 16px;
    opacity: .8;
    margin-top: -2rem;
    margin-left: 0.5rem;
}

.comment .show-rating .cmt-content .load-more:hover{
    cursor: pointer;
    opacity: 1;
}

.comment .show-rating .cmt-content .user{
    display: flex;
    align-items: center;
}

.comment .show-rating .cmt-content .user .avt{
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    margin-right: 1rem;
}

.comment .show-rating .cmt-content .user .username{
    font-size: 12px;
}

.comment .show-rating .cmt-content .user .username p{
    margin-bottom: -0.2rem;
    font-weight: bold;
}

.comment .show-rating .cmt-content .cmt-block{
    margin-bottom: 3rem;
}

.comment .show-rating .cmt-content .cmt-block .content{
    margin-left: 4rem;
    font-size: 14px;
}

.comment .cmt-area{
    width: 40%;
}

.comment .cmt-area .title{
    font-size: 1.5rem;
    font-weight: bold;
}

.comment .cmt-area .input{
    display: block;
    margin-top: 1rem;
    width: 28rem;
    padding: 10px;
    font-size: 16px;
}

.comment .cmt-area .submit-btn{
    padding: 5px 20px;
    margin-top: 1rem;
    background-color: palegreen;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
}

.comment .cmt-area .submit-btn:hover{
    background-color: rgb(57, 168, 57);
}
.cart {
    width: 30%;
  height: 30%;
}

.background_login{
    height: 600px;
    padding-top: 100px;
}
.background_Register{
    height: 800px;
    padding-top: 100px;
}
.form_login {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px;
    background: #9152f8;
    background: -webkit-linear-gradient(top,#5bf7ea,#02f598);
    background: -o-linear-gradient(top,#5bf7ea,#02f598);
    background: -moz-linear-gradient(top,#5bf7ea,#02f598);
    background: linear-gradient(top,#5bf7ea,#02f598);
    text-align: center;
    margin: auto;
}
.form_login h2 {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
}

.form_login input[type=submit] {
    font-size: 16px;
    color: #555;
    line-height: 1.2;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #fff;
    position: relative;
    z-index: 1;
    border: 0;
    outline: 0;
    display: block;
    margin: 30px auto;
}
.psw-text {
    color: rgb(12, 12, 12);
    }
.infor{
    height: 900px;
    width: 1500px;
    margin: 0 auto;
    background-color: thistle;

}
.left_infor{
    width: 30%;
    height: 900px;
    float:left;
    text-align: center;
}
.right_infor{
    width: 70%;
    height: 900px;
    float:right;
    padding-left: 100px;

}
#avatar
{
    padding: 2%;
    max-width: 60%;
    max-height: 60%;
    border-radius: 50%;
    object-fit: cover;
}
#infor_name{
    font-size:24px;
    padding: 5%;
}
.infor_item{
    padding-bottom: 20px;
}
.image_cart{
    width: 50%;
    height: 50%;
}
.table_cart{
    border: black;
}
.page_cart{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
#title_cart{
    padding: 5%;
    color: rgb(39, 155, 91);
}
.cart_submit{
    font-size: 16px;
    line-height: 1.2;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: rgb(39, 155, 91);
    z-index: 1;
    border: 0;
    outline: 0;
    margin: 10%;
}
/*-------------CSS Category -------------*/
.product-list-content{
    display: flex;
    justify-content: space-between;
    margin: 2rem 7.5rem;
}
.product-list-content .category .title{
    font-size: 22px;
}
.product-list-content .category .item-name{
    font-size: 18px;
}

.product-list-content .category .item-name:hover{
    cursor: pointer;
}

.product-list-content .category .item-cat{
    display: block;
}

.product-list-content .category .item-cat a{
    display: block;
    text-decoration: none;
    color: #000;
}

.product-list-content .product .nav a{
    font-size: 18px;
    text-decoration: none;
    padding-right: 1.5rem;
    color: #000;
    font-weight: bold;
}

.product-list-content .product .nav input{
    margin-left: 3rem;
    width: 26rem;
    padding: 5px;
}
.product .nav .btn-solid-primary{
    background: #59AB6E;
} 
#content-page2,
#content-page3{
    display: none;
}


.product-list-content .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .product-list-content .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgb(230, 230, 230);
    text-align: center;
    font-size: 30px;
  }

  .product-list-content .grid-container .item{
      text-align: left;
  }

  .product-list-content .grid-container .item:hover{
      cursor: pointer;
      box-shadow: 0 0 10px rgb(128, 128, 128);
  }

  .product-list-content .grid-container .item img{
      width: 14rem;
  }

  .product-list-content .grid-container .item p,
  .product-list-content .grid-container .item .star{
      margin-left: 0.5rem;
  }

  .product-list-content .grid-container .item .item-name{
      font-weight: bold;
      text-overflow: ellipsis;
  }

  .product-list-content .grid-container .item span{
      padding: 3px;
      border: 1px solid #000;
      font-size: 12px;
  }

  .product-list-content .grid-container .item .price{
      font-weight: bold;
  }

  .product-list-content .pagination{
      margin-left: 5px;
  }
  .product-list-content  .pagination .page-number{
      padding: 5px 10px;
      border: 1px solid #000;
      margin-left: 5px;
      font-weight: bold;
  }

  .product-list-content .pagination .page-number.active{
    background-color: #59AB6E;
  }

  .product-list-content .pagination .page-number:hover{
      cursor: pointer;
      background-color: #59AB6E;
  }
.product_type{
   padding-right: 1px;
}
.price_product{
   padding-left: 1px;
   padding-right: 1px;
}
.product_name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.product_name:hover {
    overflow:inherit;
    white-space:normal;
  }
  .container-4{
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
  }
.container-4 input#query{
    width: 250px;
    height: 40px;
    border:black;
    font-size: 15pt;
    float: left;
    color: rgb(12, 12, 12);
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .container-4 button.icon{
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
    border: none;
    background: #232833;
    height: 40px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }
  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 60%;
    margin-left: -50px;
  }
 
  .container-4:hover button.icon:hover{
    background: rgb(28, 172, 93);
  }