<!-- start form login-->
    <div class="background_login">
        <div class="form_login">
            <h2>Đăng nhập</h2>
            <form action="#" method="post" name="dang-ky">
                <div class="form-group mb-3">
                <label for="Username"></label>
                <input name="Username" type="text" class="form-control validate" placeholder="Nhập email"
                    required />
            </div>
            <div class="form-group mb-3">
                <label for="Username"></label>
                <input name="Username" type="text" class="form-control validate" placeholder="Nhập mật khẩu"
                    required />
            </div>
                <input type="submit" name="submit" value="Đăng nhập" />
                <a class="psw-text">Quên mật khẩu</a><br>
                <a class="psw-text" href="/users/register">Bạn chưa có tài khoản?</a>

            </form>
        </div>
    </div>