<section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="assets/img/quangtho.jpg" weight="400px" alt="Card image cap" id="product-detail">
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h4">Thông tin cá nhân </h1>
                            <ul class="list-unstyled pb-3">
                                <li>Họ và Tên: Đinh Quang Thọ</li></br>
                                <li>Số điện thoại: 0328059049</li></br>
                                <li>Email: quangth991@gmail.com</li></br>
                                <li>Giới tính: Nam</li></br>
                                 <li>Ngày sinh: 19/9/2000</li></br>
                                 <li>Nghề nghiệp: Sinh viên</li></br>
                                <li>Địa chỉ nhận hàng chính: Xóm 3 Thôn Thái Bình xã Cát Tài huyện Phù cát tỉnh Bình Định</li></br>
                                <li>Địa chỉ nhận hàng phụ: xóm 1 Thôn Vĩnh Tường xã Vĩnh Lộc huyện Vân Canh tỉnh Bình Định</li></br>
                                 <li>Điểm thưởng: 20000 coin</li></br>
                            </ul>

                            <form action="" method="GET">
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Chỉnh sửa</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>