<!-- start form register-->
    <div class="background_Register">
        <div class="form_login">
            <h2>Đăng ký tài khoản</h2>
            <form action="#" method="post" name="dang-ky">
                <input type="text" name="email" placeholder="Nhập địa chỉ email" />
                <input type="text" name="phone" placeholder="Nhập số điện thoại" />
                <input type="text" name="username" placeholder="Nhập tên đăng ký" />
                <input type="password" name="password" placeholder="Nhập mật khẩu" />
                <input type="password" name="password1" placeholder="Nhập lại mật khẩu" />
                <input type="submit" name="submit" value="Đăng ký" />
                <a class="psw-text" href="DangNhap.html"> Đăng nhập</a>
            </form>
        </div>
    </div>