	
    <section class="bg-light highlight">
        <div class="container py-5">
            <div class="row text-center py-3">
					<div class="span9">					
						<h4 class="title"><span class="text"><strong>Đơn hàng</strong> của bạn</span></h4>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Chọn</th>
									<th>ảnh</th>
									<th>Tên sản phẩm</th>
									<th>Số lượng</th>
									<th>Giá</th>
									<th>Tổng Tiền</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="checkbox" value="option1"></td>
									<td><a href="productDetail"><img class="cart" alt="" src="./assets/img/feature_prod_02.jpg" ></a></td>
									<td>iPhone 13 Pro Max</td>
									<td><input type="text" placeholder="1" class="input-mini"></td>
									<td>47.090.000vnđ</td>
									<td>47.090.000vnđ</td>
								</tr>			  
								<tr>
									<td><input type="checkbox" value="option1"></td>
									<td><a href="productDetail"><img class="cart" alt="" src="./assets/img/laptop_02.png"></a></td>
									<td>Laptop Acer</td>
									<td><input type="text" placeholder="2" class="input-mini"></td>
									<td>25.000.000vnđ</td>
									<td>50.000.000vnđ</td>
								</tr>
								<tr>
									<td><input type="checkbox" value="option1"></td>
									<td><a href="productDetail"><img class="cart" alt="" src="./assets/img/feature_prod_01.jpg"></a></td>
									<td>Galaxy Z Flip3</td>
									<td><input type="text" placeholder="1" class="input-mini"></td>
									<td>28.000.000vnđ</td>
									<td>28.000.000vnđ</td>
								</tr>
								<tr>
									<td><strong>Tổng tiền</strong></td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td><strong>125.090.000vnđ</strong></td>
								</tr>		  
							</tbody>
						</table>
						<p>Chọn xem bạn có mã giảm giá hoặc điểm thưởng muốn sử dụng</p>
						<label class="radio">
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
							Sử dụng mã giảm giá
						</label>
						<label class="radio">
							<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							Sử dụng điểm thưởng
						</label>
						<hr>
						<p class="cart-total right">
							<strong>Tổng tiền</strong>: 125.090.000vnđ<br>
							<strong>Phí ship </strong>: 30.000vnđ<br>
							<strong>VAT (10%)</strong>: 12.509.000<br>
							<strong>Total</strong>: 137.629.000vnđ<br>
						</p>
						<hr/>
						<p class="buttons center">				
							<button class="btn btn-success btn-lg px-3" type="button">Chỉnh sửa</button>
							<button class="btn btn-success btn-lg px-3" type="button">Tiếp tục</button>
							<button class="btn btn-success btn-lg px-3" type="submit" id="checkout">Thanh toán</button>
						</p>					
					</div>
				</div>
			</section>			